h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;

    color: #2E2E2E;
}

h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #2E2E2E;
}

h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #2E2E2E;
}

h4 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #9F9F9F;
}

h5 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #9F9F9F;
}

h6 {
    font-family: Source Sans Pro;
    font-style: normal;
    text-transform: uppercase;

    color: #9F9F9F;
}

.userinfo {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 25%);
}