.navbar {
    background-color: #2F2E41;
    overflow: hidden;
    height: 68px;
}

.navbutton {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-variant: small-caps;
    
    margin-right: 14px;
    margin-top: 14px;
    color: #FFA000;
}

.navbutton:hover {
    border-bottom: 3px solid #FFA000; 
}

.navbutton:active {
    background-color: #59576C;
    color: #ffd149;
    border-bottom: 3px solid #ffd149; 
}

.navlogo {
    width: 86px;
    height: 32px;
    float: left;
    margin-left: 18px;
    margin-top: 18px;
}