.navlogo {
    width: 86px;
    height: 32px;
}

.meetsMain {
    display: grid;
    grid-template-columns: minmax(360px, 40%) 1fr;
    margin-top:25px;
}

.calendar {
    width: 90%;
    margin:auto;
    position: relative;
}

.filterbar {
    position: relative;
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    
    background: #2F2E41;
    border-radius: 4px;

    z-index: 3;
}

.places {
    position: relative;
    margin: 7px;
    width: 95%;  
}