h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    color: #2F2E41;
}

h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: #59576C;
}

p {
    display: inline-block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #3F3D56;
}

label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #3E3E3E;
}

input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 100%;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

    border: 0;
    border-bottom: 3px solid #FFA000; 
}

.loginbutton {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: auto;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #3F3D56;

    background: #FFD149;
    border-radius: 4px;

    border: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.form {
    width: 50%;
    margin: 0 auto;
    max-width: 300px;
}